@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

div[name="device-actions-holder"] {
    grid-template-columns: repeat(6, 1fr);

    width: 85%;

    > *:nth-child(-n+2) {
        grid-column: span 3;
    }

    > *:nth-child(n+3) {
        grid-column: span 2;
    }
}

button[name="device-code-button"] {
    width: 13% ;
}
